.bnt{
    display: flex;
    justify-content: center;
    align-items: center;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        height: 3.5rem;
        width: max(18rem, 23vw);
        border-radius: 1rem;
        color: var(--bg);
        font-size: 1.5rem;
        font-weight: 600;
        background: var(--yallow);
        padding: 0 1rem;
        cursor: pointer;

        img{
            width: 2.5rem;
            transition: .2s;
        }

        &:hover img{
            width: 4rem;
            transform: rotateZ(30deg);
        }
    }
}